/*
Copyright 2019 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_ToastContainer {
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 101;
    padding: 4px;
    display: grid;
    grid-template-rows: 1fr 14px 6px;

    &.mx_ToastContainer_stacked::before {
        content: "";
        margin: 0 4px;
        grid-row: 2 / 4;
        grid-column: 1;
        background-color: $dark-panel-bg-color;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .mx_Toast_toast {
        grid-row: 1 / 3;
        grid-column: 1;
        color: $primary-fg-color;
        background-color: $dark-panel-bg-color;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 22px 1fr;
        column-gap: 8px;
        row-gap: 4px;
        padding: 8px;

        &.mx_Toast_hasIcon {
            &::before,
            &::after {
                content: "";
                width: 22px;
                height: 22px;
                grid-column: 1;
                grid-row: 1;
                mask-size: 100%;
                mask-position: center;
                mask-repeat: no-repeat;
                background-size: 100%;
                background-repeat: no-repeat;
            }

            &.mx_Toast_icon_verification::after {
                mask-image: url("$(res)/img/e2e/normal.svg");
                background-color: $primary-fg-color;
            }

            &.mx_Toast_icon_verification_warning {
                // white infill for the hollow svg mask
                &::before {
                    background-color: #ffffff;
                    mask-image: url("$(res)/img/e2e/normal.svg");
                    mask-size: 90%;
                }

                &::after {
                    mask-image: url("$(res)/img/e2e/warning.svg");
                    background-color: $notice-primary-color;
                }
            }

            &.mx_Toast_icon_secure_backup::after {
                mask-image: url("$(res)/img/feather-customised/secure-backup.svg");
                background-color: $primary-fg-color;
            }
            &.mx_Toast_icon_app_success::after {
                mask-image: url("$(res)/img/feather-customised/check.svg");
                background-color: $primary-fg-color;
            }

            .mx_Toast_title,
            .mx_Toast_body {
                grid-column: 2;
            }
        }
        &:not(.mx_Toast_hasIcon) {
            padding-left: 12px;

            .mx_Toast_title {
                grid-column: 1 / -1;
            }
        }

        .mx_Toast_title,
        .mx_Toast_description {
            padding-right: 8px;
        }

        .mx_Toast_title {
            width: 100%;
            box-sizing: border-box;

            h2 {
                grid-column: 1 / 3;
                grid-row: 1;
                margin: 0;
                font-size: $font-15px;
                font-weight: 600;
                display: inline;
                width: auto;
                vertical-align: middle;
            }

            span {
                padding-left: 8px;
                float: right;
                font-size: $font-12px;
                line-height: $font-22px;
                color: $muted-fg-color;
            }
        }

        .mx_Toast_body {
            grid-column: 1 / 3;
            grid-row: 2;
        }

        .mx_Toast_buttons {
            float: right;
            display: flex;

            .mx_FormButton {
                min-width: 96px;
                box-sizing: border-box;
            }
        }

        .mx_Toast_description {
            max-width: 272px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 4px 0 11px 0;
            font-size: $font-12px;

            .mx_AccessibleButton_kind_link {
                font-size: inherit;
                padding: 0;
            }

            a {
                text-decoration: none;
            }
        }

        .mx_Toast_deviceID {
            font-size: $font-10px;
        }
    }
}
