.mx_FlowBuilder_cards {
    display: flex;
}
.mx_extra_links {
    padding: 5px;
}
// sidebar css
.mx_SideBar_empty {
    padding: 30px;
    margin-right: 0px;
    text-align: center;
}
.mx_SideBar_empty::before {
    mask-image: url("$(res)/img/element-icons/room/apps.svg");
}
.mx_FlowBuilder_container {
    display: flex;
    flex-direction: column;
}
.mx_FlowBuilder_child {
    padding: 0px 20px;
    flex-grow: 0;
}
.mx_FlowBuilder_child_title {
    display: flex;
    align-items: center;
    span {
        background-color: $accent-color;
        margin-left: 10px;
        padding: 8px;
        border-radius: 25px;
        font-weight: bold;
        cursor: pointer;
        a {
            color: white;
        }
    }
}
.mx_FlowBuilder_child_buttons {
    margin-left: 10px;
}
.css-header {
    max-width: 300px;
    background-color: $primary-bg-color;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 1.4em;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em; */
    //  border-width: 1px;
    // border-style: solid; */

    border-image: initial;
    margin-right: 10px;
    color: $primary-fg-color;
    width: 95%;
    height: 95%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(204, 214, 221);
    border-radius: 5px;
}
.css-header img :not(.mx_base_avatar_for_contacts > img) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.css-img {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-height: 250px;
}
.css-img img {
    display: block;

    width: 100%;
    height: auto;
    margin: 0px auto;
}
.css-card-text {
    white-space: pre-line;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 1em;
    color: $primary-fg-color;
    text-align: left;
    .css-title {
        margin: 0px;
        font-weight: Bold;
    }
    .css-subtitle {
        margin: 0px;
        color: $primary-fg-color;
        p {
            margin: 5px 0px;
            word-break: break-word;
        }
    }
    .dot {
        height: 25px;
        width: 25px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }
}
.css-card-tags {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}
.css-card-tag {
    background: #dddfe0;
    padding: 2px 10px 2px 10px;
    border-radius: 10%;
    margin-right: 5px;
}
.css-wrapper-button {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.css-button {
    font-size: 1em;
    -webkit-appearance: none;
    /*  border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em; */
    display: inline-block;
    width: 100%;
    //border-bottom-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: $primary-fg-color;
    border-width: 0px 0px 1px;
    border-style: solid;
    padding: 0.8em;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: background-color 0.1s ease 0s;
    background: transparent;
}
.css-button:hover {
    background-color: white;
    cursor: pointer;
}
.css-button:disabled {
    color: gray;
}
.css-card-apps {
    display: flex;
}
.css-card-apps:hover {
    cursor: pointer;
}
.css-header-apps {
    height: auto;
}
.css-add-button-app-only {
    text-align: center;
}
.css-add-button-app {
    margin: 10px;
    font-size: 1em;
    -webkit-appearance: none;
    /*  border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em; */
    display: inline-block;
    //border-bottom-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: $primary-fg-color;
    border-width: 0px 0px 1px;
    border-style: solid;
    padding: 0.8em;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: background-color 0.1s ease 0s;
    background: transparent;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: 1px solid rgb(204, 214, 221);
    cursor: pointer;
}
.css-add-button-app-reninstall {
    -webkit-appearance: none;
    /*  border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 1.4em;
    border-bottom-left-radius: 1.4em; */
    display: inline-block;
    //border-bottom-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: gray;
    border-width: 0px 0px 1px;
    border-style: solid;
    padding: 0em 0em 0.5em 0em;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: background-color 0.1s ease 0s;
    background: transparent;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border: none;
    cursor: pointer;
    text-align: right;
}
.css-add-button-app:disabled {
    cursor: not-allowed;
    border: none;
    color: gray;
}

.css-add-button-app:hover {
    background: #ececec;
    color: $primary-bg-color;
}
.css-tekos-flow-node {
    text-align: center;
    //padding: 7px;
    //margin: 10px;
    color: gray;
}

.css-cat-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}
.css-cat-item {
    margin: 5px;
    background-color: $primary-hairline-color;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
}
.mx_mother_of_all_apps_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.mother_of_all_apps {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 60vh;
    overflow-y: scroll;
}
.mx_contactManager_container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media all and (max-width: 600px) {
    .mother_of_all_apps {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}
.mother_of_all_apps_contacts {
    padding: 30px 20px 30px 20px;
    li {
        font-size: small;
        list-style: none;
        span {
            color: gray;
        }
    }
}
.mother_of_all_apps_input {
    border: 1px solid rgb(204, 214, 221);
    border-radius: 5px;
    width: 50%;
    margin: 0px !important;
}
.mx_created_app_listing {
    height: 100%;
}
.css-cat-item-global {
    font-size: large;
    cursor: pointer;
}
.css-flow-apps-container {
    display: flex;
    margin-bottom: 30px;
}
.css-flow-apps-container-item {
    flex: 1;
}
