.ac-adaptiveCard {
    border-radius: 10px;
    background-color: $roomlist-bg-color !important;
    border: 1px solid $primary-hairline-color;
    height: 100%;
    width: 100%;
}
.mx_adaptiveCard_modal {
    margin-top: "10px";
    div .ac-adaptiveCard {
        border-radius: 0px;
        background-color: transparent !important;
        border: none;
    }
}
.ac-textBlock {
    color: $primary-fg-color !important;
}
.ac-pushButton {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-family: "Calibri", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid $primary-hairline-color;
    background-color: #0375ff;
    color: #fff;
    border-radius: "10px";
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    :hover {
        cursor: pointer;
    }
}

.ac-horizontal-separator {
    height: 15px !important;
}
.ac-input.ac-textInput,
.ac-input.ac-numberInput,
.ac-input.ac-dateInput,
.ac-input.ac-timeInput,
.ac-input.ac-multichoiceInput {
    border: 1px solid #dddddd !important;
    padding: 4px 8px 4px 8px;
    margin: 0px !important;
    color: $primary-fg-color !important;
    border-radius: 0px !important;
    height: 31px !important;
    box-sizing: content-box !important;
    background-color: transparent !important;
}
.ac-input.ac-multichoiceInput {
    color: $primary-fg-color !important;
    background-color: $primary-bg-color !important;
}
.ac-input.ac-textInput,
.ac-input.ac-numberInput,
.ac-input.ac-dateInput,
.ac-input.ac-timeInput {
    height: 31px;
}

.ac-input {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: black !important;
}
.ace_editor.ace-github {
    width: 100% !important;
}
