// JIRA : #MIG-9
//_HintButton.scss contains the css code for the quickreplies buttons
.mx_RoomTile_label {
    border-radius: 0.8em;
    padding: 0 0.4em;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    padding: 1px 5px;
}
.mx_RoomTile_name_flex {
    display: flex;
    align-items: center;
}
.mx_HintsContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    -moz-box-pack: center;
    justify-content: left;
}

.mx_HintButton {
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
    -moz-appearance: none;
    transition: box-shadow 0.1s ease 0s, color 0.1s ease 0s,
        border-color 0.2s ease 0s;
    margin: 0.25em;
    border-radius: 1.4em;
    box-shadow: rgba(32, 34, 40, 0.05) 0px 0.1em 0.1em 0px;
    font-weight: 400;
    overflow: hidden;
    padding: 0.375em 1em 0.5em;
    word-break: break-word;
    border-color: #027be3;
    background-color: transparent;
    color: #027be3;
    cursor: pointer;
    max-width: 200px;
    text-align: center;
}
.mx_HintButton_for_menus {
    min-width: 70px;
}
.mx_HintButton img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    float: left;
}
.HintImage_Round {
    border-radius: 10px;
}
.HintApi_button {
    background-color: #5a70d7;
    color: #fff;
    padding: 12px 12px;
    border: 0;
    border-radius: 24px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    font-size: 18px;
}
.HintApi_button_error {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 8px 12px;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    max-width: 400px;
}
.HintApi_button:hover {
    background-color: #849aff;
    cursor: pointer;
}

.HintCloud_button {
    background-color: #0078ff;
    color: #fff;
    padding: 8px 12px;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px;
}
.HintCloud_button:hover {
    background-color: #49a1ff;
    cursor: pointer;
}
.HintCloud_button:disabled,
.HintCloud_button[disabled] {
    background-color: gray;
}
