/*
Copyright 2015, 2016 OpenMarket Ltd
Copyright 2020 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

$left-gutter: 64px;

.mx_EventTile {
    max-width: 100%;
    clear: both;
    padding-top: 18px;
    font-size: $font-14px;
    position: relative;
}

.mx_EventTile.mx_EventTile_info {
    padding-top: 0px;
}

.mx_EventTile_avatar {
    top: 14px;
    left: 8px;
    cursor: pointer;
    user-select: none;
}

.mx_EventTile.mx_EventTile_info .mx_EventTile_avatar {
    top: $font-8px;
    left: $left-gutter;
}

.mx_EventTile_continuation {
    padding-top: 0px !important;

    &.mx_EventTile_isEditing {
        padding-top: 5px !important;
        margin-top: -5px;
    }
}

.mx_EventTile_isEditing {
    background-color: $header-panel-bg-color;
}

.mx_EventTile .mx_SenderProfile {
    color: $primary-fg-color;
    font-size: $font-14px;
    display: inline-block; /* anti-zalgo, with overflow hidden */
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    /* the next three lines, along with overflow hidden, truncate long display names */
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - $left-gutter);
}

.mx_EventTile .mx_SenderProfile .mx_Flair {
    opacity: 0.7;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    height: 16px;
    overflow: hidden;
    user-select: none;

    img {
        vertical-align: -2px;
        margin-right: 2px;
        border-radius: 8px;
    }
}

.mx_EventTile_isEditing .mx_MessageTimestamp {
    visibility: hidden !important;
}

.mx_EventTile .mx_MessageTimestamp {
    display: block;
    visibility: hidden;
    white-space: nowrap;
    left: 0px;
    text-align: center;
    user-select: none;
}

.mx_EventTile_continuation .mx_EventTile_line {
    clear: both;
}

.mx_EventTile_line,
.mx_EventTile_reply {
    position: relative;
    padding-left: $left-gutter;
    border-radius: 4px;
}

.mx_RoomView_timeline_rr_enabled,
// on ELS we need the margin to allow interaction with the expand/collapse button which is normally in the RR gutter
.mx_EventListSummary {
    .mx_EventTile_line {
        /* ideally should be 100px, but 95px gives us a max thumbnail size of 800x600, which is nice */
        margin-right: 110px;
    }
}

.mx_EventTile_bubbleContainer {
    display: grid;
    grid-template-columns: 1fr 100px;

    .mx_EventTile_line {
        margin-right: 0;
        grid-column: 1 / 3;
        // override default padding of mx_EventTile_line so that we can be centered
        padding: 0 !important;
    }

    .mx_EventTile_msgOption {
        grid-column: 2;
    }
}

.mx_EventTile_reply {
    margin-right: 10px;
}

/* HACK to override line-height which is already marked important elsewhere */
.mx_EventTile_bigEmoji.mx_EventTile_bigEmoji {
    font-size: 48px !important;
    line-height: 57px !important;
}

.mx_MessagePanel_alwaysShowTimestamps .mx_MessageTimestamp {
    visibility: visible;
}

.mx_EventTile_selected > div > a > .mx_MessageTimestamp {
    left: 3px;
    width: auto;
}

// Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
// The first set is to handle the 'group layout' (default) and the second for the IRC layout
.mx_EventTile_last > div > a > .mx_MessageTimestamp,
.mx_EventTile:hover > div > a > .mx_MessageTimestamp,
.mx_EventTile.mx_EventTile_actionBarFocused > div > a > .mx_MessageTimestamp,
.mx_EventTile.focus-visible:focus-within > div > a > .mx_MessageTimestamp,
.mx_IRCLayout .mx_EventTile_last > a > .mx_MessageTimestamp,
.mx_IRCLayout .mx_EventTile:hover > a > .mx_MessageTimestamp,
.mx_IRCLayout
    .mx_EventTile.mx_EventTile_actionBarFocused
    > a
    > .mx_MessageTimestamp,
.mx_IRCLayout
    .mx_EventTile.focus-visible:focus-within
    > a
    > .mx_MessageTimestamp {
    visibility: visible;
}

.mx_EventTile:hover .mx_MessageActionBar,
.mx_EventTile.mx_EventTile_actionBarFocused .mx_MessageActionBar,
[data-whatinput="keyboard"] .mx_EventTile:focus-within .mx_MessageActionBar,
.mx_EventTile.focus-visible:focus-within .mx_MessageActionBar {
    visibility: visible;
}

/* this is used for the tile for the event which is selected via the URL.
 * TODO: ultimately we probably want some transition on here.
 */
.mx_EventTile_selected > .mx_EventTile_line {
    border-left: $accent-color 4px solid;
    padding-left: 60px;
    background-color: $event-selected-color;
}

.mx_EventTile_highlight,
.mx_EventTile_highlight .markdown-body {
    color: $event-highlight-fg-color;

    .mx_EventTile_line {
        background-color: $event-highlight-bg-color;
    }
}

.mx_EventTile_selected.mx_EventTile_info .mx_EventTile_line {
    padding-left: 78px;
}

.mx_EventTile:hover .mx_EventTile_line,
.mx_EventTile.mx_EventTile_actionBarFocused .mx_EventTile_line,
.mx_EventTile.focus-visible:focus-within .mx_EventTile_line {
    background-color: $event-selected-color;
}

.mx_EventTile_searchHighlight {
    background-color: $accent-color;
    color: $accent-fg-color;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.mx_EventTile_searchHighlight a {
    background-color: $accent-color;
    color: $accent-fg-color;
}

.mx_EventTile_encrypting {
    color: $event-encrypting-color !important;
}

.mx_EventTile_sending {
    color: $event-sending-color;
}

.mx_EventTile_sending .mx_UserPill,
.mx_EventTile_sending .mx_RoomPill {
    opacity: 0.5;
}

.mx_EventTile_notSent {
    color: $event-notsent-color;
}

.mx_EventTile_contextual {
    opacity: 0.4;
}

.mx_EventTile_msgOption {
    float: right;
    text-align: right;
    position: relative;
    width: 90px;

    /* Hack to stop the height of this pushing the messages apart.
       Replaces margin-top: -6px. This interacts better with a read
       marker being in between. Content overflows. */
    height: 1px;

    margin-right: 10px;
}

.mx_EventTile_msgOption a {
    text-decoration: none;
}

.mx_EventTile_readAvatars {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 29px;
    user-select: none;
    z-index: 1;
}

.mx_EventTile_continuation .mx_EventTile_readAvatars,
.mx_EventTile_info .mx_EventTile_readAvatars,
.mx_EventTile_emote .mx_EventTile_readAvatars {
    top: 7px;
}

.mx_EventTile_readAvatars .mx_BaseAvatar {
    position: absolute;
    display: inline-block;
    height: $font-14px;
    width: $font-14px;
}

.mx_EventTile_readAvatarRemainder {
    color: $event-timestamp-color;
    font-size: $font-11px;
    position: absolute;
}

/* all the overflow-y: hidden; are to trap Zalgos -
   but they introduce an implicit overflow-x: auto.
   so make that explicitly hidden too to avoid random
   horizontal scrollbars occasionally appearing, like in
   https://github.com/vector-im/vector-web/issues/1154
    */
.mx_EventTile_content {
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* De-zalgoing */
.mx_EventTile_body {
    overflow-y: hidden;
}

/* Spoiler stuff */
.mx_EventTile_spoiler {
    cursor: pointer;
}

.mx_EventTile_spoiler_reason {
    color: $event-timestamp-color;
    font-size: $font-11px;
}

.mx_EventTile_spoiler_content {
    filter: blur(5px) saturate(0.1) sepia(1);
    transition-duration: 0.5s;
}

.mx_EventTile_spoiler.visible > .mx_EventTile_spoiler_content {
    filter: none;
}

.mx_EventTile_e2eIcon {
    position: absolute;
    top: 6px;
    left: 44px;
    width: 14px;
    height: 14px;
    display: block;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    &::before {
        background-color: #ffffff;
        mask-image: url("$(res)/img/e2e/normal.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 90%;
    }
}

.mx_EventTile_e2eIcon_undecryptable,
.mx_EventTile_e2eIcon_unverified {
    &::after {
        mask-image: url("$(res)/img/e2e/warning.svg");
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unknown {
    &::after {
        mask-image: url("$(res)/img/e2e/warning.svg");
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unencrypted {
    &::after {
        mask-image: url("$(res)/img/e2e/warning.svg");
        background-color: $notice-primary-color;
    }
    opacity: 1;
}

.mx_EventTile_e2eIcon_unauthenticated {
    &::after {
        mask-image: url("$(res)/img/e2e/normal.svg");
        background-color: $composer-e2e-icon-color;
    }
    opacity: 1;
}

.mx_EventTile_keyRequestInfo {
    font-size: $font-12px;
}

.mx_EventTile_keyRequestInfo_text {
    opacity: 0.5;
}

.mx_EventTile_keyRequestInfo_text a {
    color: $primary-fg-color;
    text-decoration: underline;
    cursor: pointer;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p {
    text-align: auto;
    margin-left: 3px;
    margin-right: 3px;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p:first-child {
    margin-top: 0px;
}

.mx_EventTile_keyRequestInfo_tooltip_contents p:last-child {
    margin-bottom: 0px;
}

.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line,
.mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line,
.mx_EventTile:hover.mx_EventTile_unknown .mx_EventTile_line {
    padding-left: 60px;
}

.mx_EventTile:hover.mx_EventTile_verified .mx_EventTile_line {
    border-left: $e2e-verified-color 4px solid;
}

.mx_EventTile:hover.mx_EventTile_unverified .mx_EventTile_line {
    border-left: $e2e-unverified-color 4px solid;
}

.mx_EventTile:hover.mx_EventTile_unknown .mx_EventTile_line {
    border-left: $e2e-unknown-color 4px solid;
}

.mx_EventTile:hover.mx_EventTile_verified.mx_EventTile_info .mx_EventTile_line,
.mx_EventTile:hover.mx_EventTile_unverified.mx_EventTile_info
    .mx_EventTile_line,
.mx_EventTile:hover.mx_EventTile_unknown.mx_EventTile_info .mx_EventTile_line {
    padding-left: 78px;
}

/* End to end encryption stuff */
.mx_EventTile:hover .mx_EventTile_e2eIcon {
    opacity: 1;
}

// Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
.mx_EventTile:hover.mx_EventTile_verified
    .mx_EventTile_line
    > a
    > .mx_MessageTimestamp,
.mx_EventTile:hover.mx_EventTile_unverified
    .mx_EventTile_line
    > a
    > .mx_MessageTimestamp,
.mx_EventTile:hover.mx_EventTile_unknown
    .mx_EventTile_line
    > a
    > .mx_MessageTimestamp {
    left: 3px;
    width: auto;
}

// Explicit relationships so that it doesn't apply to nested EventTile components (e.g in Replies)
.mx_EventTile:hover.mx_EventTile_verified
    .mx_EventTile_line
    > .mx_EventTile_e2eIcon,
.mx_EventTile:hover.mx_EventTile_unverified
    .mx_EventTile_line
    > .mx_EventTile_e2eIcon,
.mx_EventTile:hover.mx_EventTile_unknown
    .mx_EventTile_line
    > .mx_EventTile_e2eIcon {
    display: block;
    left: 41px;
}

.mx_EventTile_content .mx_EventTile_edited {
    user-select: none;
    font-size: $font-12px;
    color: $roomtopic-color;
    display: inline-block;
    margin-left: 9px;
    cursor: pointer;
}

/* Various markdown overrides */

.mx_EventTile_body pre {
    border: 1px solid transparent;
}

.mx_EventTile_content .markdown-body {
    font-family: inherit !important;
    white-space: normal !important;
    line-height: inherit !important;
    color: inherit; // inherit the colour from the dark or light theme by default (but not for code blocks)
    font-size: $font-14px;

    pre,
    code {
        font-family: $monospace-font-family !important;
        // deliberate constants as we're behind an invert filter
        color: #333;
    }

    pre {
        // have to use overlay rather than auto otherwise Linux and Windows
        // Chrome gets very confused about vertical spacing:
        // https://github.com/vector-im/vector-web/issues/754
        overflow-x: overlay;
        overflow-y: visible;
        max-height: 30vh;
    }

    code {
        // deliberate constants as we're behind an invert filter
        background-color: #f8f8f8;
    }
}

.mx_EventTile:hover .mx_EventTile_body pre,
.mx_EventTile.focus-visible:focus-within .mx_EventTile_body pre {
    border: 1px solid #e5e5e5; // deliberate constant as we're behind an invert filter
}

.mx_EventTile_pre_container {
    // For correct positioning of _copyButton (See TextualBody)
    position: relative;
}

// Inserted adjacent to <pre> blocks, (See TextualBody)
.mx_EventTile_copyButton {
    position: absolute;
    display: inline-block;
    visibility: hidden;
    cursor: pointer;
    top: 6px;
    right: 6px;
    width: 19px;
    height: 19px;
    mask-image: url($copy-button-url);
    background-color: $message-action-bar-fg-color;
}

.mx_EventTile_body
    .mx_EventTile_pre_container:focus-within
    .mx_EventTile_copyButton,
.mx_EventTile_body .mx_EventTile_pre_container:hover .mx_EventTile_copyButton {
    visibility: visible;
}

.mx_EventTile_content .markdown-body h1,
.mx_EventTile_content .markdown-body h2,
.mx_EventTile_content .markdown-body h3,
.mx_EventTile_content .markdown-body h4,
.mx_EventTile_content .markdown-body h5,
.mx_EventTile_content .markdown-body h6 {
    font-family: inherit !important;
    color: inherit;
}

/* Make h1 and h2 the same size as h3. */
.mx_EventTile_content .markdown-body h1,
.mx_EventTile_content .markdown-body h2 {
    font-size: 1.5em;
    border-bottom: none !important; // override GFM
}

.mx_EventTile_content .markdown-body a {
    color: $accent-color-alt;
}

.mx_EventTile_content .markdown-body .hljs {
    display: inline !important;
}

/*
// actually, removing the Italic TTF provides
// better results seemingly

// compensate for Nunito italics being terrible
// https://github.com/google/fonts/issues/1726
.mx_EventTile_content .markdown-body em {
    transform: skewX(-14deg);
    display: inline-block;
}
*/

/* end of overrides */

.mx_EventTile_tileError {
    color: red;
    text-align: center;

    // Remove some of the default tile padding so that the error is centered
    margin-right: 0;
    .mx_EventTile_line {
        padding-left: 0;
        margin-right: 0;
    }

    .mx_EventTile_line span {
        padding: 4px 8px;
    }

    a {
        margin-left: 1em;
    }
}

@media only screen and (max-width: 480px) {
    .mx_EventTile_line,
    .mx_EventTile_reply {
        padding-left: 0;
        margin-right: 0;
    }
    .mx_EventTile_content {
        margin-top: 10px;
        margin-right: 0;
    }
}
